#images
data/frames/*
*_actions

# pyt cache
*.pyc

# tensorflow / tensorboard

.vscode/*
.ipynb_checkpoints/*

*.ipynb

# sone private files
docs/paper
game/monsterkong/*
data/model/05_07_2020/checkpoints
docs/presentation
data/tensorboard